DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiYjU0MjRlYzYtYjA0MC00YjM0LWI1MDAtMDhiM2IzMDZmNTQyIiwidGVuYW50X2lkIjoiODYxNWZlZTRmYjI0NjBhNDg4MjY3M2Q1MWRjZDZlZTgyMTI0NTMyNDFjMjUyOTIyYmJkZDdkNjYwZjQ3OTc2MyIsImludGVybmFsX3NlY3JldCI6IjRmNTJmODk4LTg0ZGUtNGY2Yi1hODhkLWZiZThlYTRmNWViMCJ9.RNIdZtu6vHDVvHVd0eA2v4o6e-LhBEUFOpsMRYDCqdc"

NEXT_PUBLIC_API_URL="/api"

NEXT_PUBLIC_RESEND_API_KEY=re_SNby6BoY_Ms97rC7apFoQsVQ2acvELizu

NEXT_PUBLIC_DA_DATA_TOKEN=268c8a62e436a9a04f6d9e751c971ec5e0a08560

NEXT_PUBLIC_YOOKASSA_API_KEY=test_pOLIeGj2HdK7b5PzoNHMVYGkxwU8jrut7W8xlDdcR9M

NEXT_PUBLIC_YOOKASSA_AGENT_ID=1091325

NEXT_PUBLIC_YOOKASSA_RETURN_URL=http://localhost:3000/?paid

NEXT_PUBLIC_GITHUB_ID=Ov23liC9Ydj1yKXNwozp

NEXT_PUBLIC_GITHUB_SECRET=108bc5f7243870144b301e9838462ba675e3a6a2
NEXT_PUBLIC_NEXTAUTH_SECRET=108bc5f7243870144b301e9838462ba675e3a6a2

NEXT_PUBLIC_GOOGLE_CLIENT_ID=926486450749-96vlk68nuofsa6q39lhvh3g9vr6n3gkl.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=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

NEXT_PUBLIC_SITE_URL=http://localhost:3000